body  {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.post {
  width: 500px;
  height: auto;
  margin: auto;
  margin-bottom: 70px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 30px;
}

.post-header-left {
  display: flex;
}

.post-header-userProfile {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      margin-bottom: 5px;;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background: conic-gradient(rgb(39, 40, 134), rgb(68, 134, 233), rgb(171, 81, 223), rgb(245, 59, 214), rgb(39, 40, 134));

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: black;
      padding: 2px;
    }
}

.post-header-upload p {
    margin: 0;
    margin-top: 2px;
    font-size: 16px;

    /* p.post-header-upload-when {
        font-size: 14px;
        color: gray;
    } */  /* Preguntar si es tema de especificidad */
}

.post-header-menuIcon{
    font-size: 20px;
    margin-right: 12px;
}
.post-image {
  img {
          width: 500px;
          height: auto;
      }
}

.post-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    .post-actions{
      font-size: 25px;;
    }
}

.post-bookmark {
  font-size: 25px;
}

.post-body{
  padding-left: 8px;
}

#more {
  display: none;
}

#myBtn {
  background-color: whitesmoke;
  color: gray;
  border: none;
}